<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EventManagementSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=193.33.116.124;initial catalog=EventManagementSystem;persist security info=True;user id=SA;password=vmonitor401;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2008-WEBSERVER\SAHARA;initial catalog=EventManagementSystem;persist security info=True;user id=SA;password=s4h4r4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.16.245\SAHARA,14333;initial catalog=EventManagementSystem;persist security info=True;user id=SA;password=s4h4r4;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSSRV\CSMSSQL12;initial catalog=EventManagementSystemUpdated;persist security info=True;user id=sa;password=xyz123#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSSRV\CSMSSQL12;initial catalog=EventManagementSystemImagination;persist security info=True;user id=sa;password=xyz123#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CSSRV\CSMSSQL12;initial catalog=Sand_Martins.X2154;persist security info=True;user id=sa;password=xyz123#;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rd4jzaig54.database.windows.net,1433;initial catalog=Sand_Martins.X2154;persist security info=True;user id=imagination;password=Basepoint219;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="EmsEntities" connectionString="metadata=res://*/Model.EntityModel.csdl|res://*/Model.EntityModel.ssdl|res://*/Model.EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rd4jzaig54.database.windows.net,1433;initial catalog=Petersfield.P2236;persist security info=True;user id=imagination;password=Basepoint219;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs" />
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EventManagementSystem.Properties.Settings>
      <setting name="SummariseEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncPrimaryContact" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncAddress" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncEmail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncTelNumbers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncPastBookings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncFutureBookings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncTotalCharged" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncEventDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLastVisit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartDateOption" serializeAs="String">
        <value>01/24/2015 17:30:00</value>
      </setting>
      <setting name="EndDateOption" serializeAs="String">
        <value>01/28/2015 17:30:00</value>
      </setting>
      <setting name="IncVATOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExVATOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DepartmentOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GroupOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnquiriesOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProvisionalOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConfirmedOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="InvoicedOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CancelledOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinimizedOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMonthlyTotalsOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GolfTimeInterval" serializeAs="String">
        <value>8</value>
      </setting>
      <setting name="StartDateInDepositsRecevedOption" serializeAs="String">
        <value>01/01/2015 17:30:00</value>
      </setting>
      <setting name="EndDateInDepositsRecevedOption" serializeAs="String">
        <value>12/31/2015 17:31:00</value>
      </setting>
      <setting name="IsReceivedDateChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClubInfoImageUrl" serializeAs="String">
        <value />
      </setting>
      <setting name="ClubInfoAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="ClubInfoFooter" serializeAs="String">
        <value />
      </setting>
      <setting name="ClubInfoBankAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="NumberOfDaysToForceReminder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SendEmailToAdminAtTheEndOfEachWeek" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendEmailToAdminAtTheEndOfEachDay" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendDailyEmailWithTasks" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendEmailWhenFollowUpBreached" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SendEmailWhenEnquiryAssigned" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultUserIDForEnquiries" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="DailyStartTime" serializeAs="String">
        <value />
      </setting>
      <setting name="WeeklyStartTime" serializeAs="String">
        <value />
      </setting>
      <setting name="CRMEmailHeader" serializeAs="String">
        <value />
      </setting>
      <setting name="CRMEmailFooter" serializeAs="String">
        <value />
      </setting>
      <setting name="CRMEmailHeaderImage" serializeAs="String">
        <value />
      </setting>
      <setting name="CRMEmailFooterImage" serializeAs="String">
        <value />
      </setting>
      <setting name="CRMEmailTemplateColor" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDateGroupValue" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EndDateGroupValue" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DaysForward" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DaysBackward" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartDateGroupValueDepositReceived" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EndDateGroupValueDepositReceived" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DaysBackwardDepositReceived" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DaysForwardDepositReceived" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartDateInPaymentOption" serializeAs="String">
        <value>01/01/2015 17:30:00</value>
      </setting>
      <setting name="EndDateInPaymentOption" serializeAs="String">
        <value>12/31/2015 17:30:00</value>
      </setting>
      <setting name="EndDateGroupValuePayment" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="StartDateGroupValuePayment" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DaysForwardPayment" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DaysBackwardPayment" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsPaymentReceivedDateChecked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartDateGroupValueForwardSynopsis" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EndDateGroupValueForwardSynopsis" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DaysBackwardForwardSynopsis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DaysForwardForwardSynopsis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="StartDateForwardSynopsis" serializeAs="String">
        <value>01/01/2015 17:30:00</value>
      </setting>
      <setting name="EndDateForwardSynopsis" serializeAs="String">
        <value>12/31/2015 17:30:00</value>
      </setting>
      <setting name="StartDateRoundAgeAnalysis" serializeAs="String">
        <value>01/01/2015 17:30:00</value>
      </setting>
      <setting name="EndDateRoundAgeAnalysis" serializeAs="String">
        <value>12/31/2015 17:30:00</value>
      </setting>
      <setting name="StartDateGroupValueRoundAgeAnalysis" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="EndDateGroupValueRoundAgeAnalysis" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="DaysForwardRoundAgeAnalysis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DaysBackwardRoundAgeAnalysis" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="IsGolfOnlyRoundAge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsCateringOnlyRoundAge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsBothGolfAndCateringRoundAge" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartingPluTillProducts" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="IncPlacesOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncPrimaryContactOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncStatusOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncEmailOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncTelNumbersOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncChangesOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncStartTimeOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncEventDateOptionCalender" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncOpeningOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncJoinersOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLeaversOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncTransfersInOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncTransfersOutOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncClosingOption" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncDateSale" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMembershipNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncSalesPerson" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncCategoryName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncChargeType" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMethodOfPayment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncStartDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncRenewalDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncIstPaymentMonth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncIstMonthPayment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncOutGoingMonthPayment" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLastPaymentMonth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncContractPeriod" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncAnnualFeePaid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncJoiningFeePaid" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncPromoSource" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncResignDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLeavingDate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMembershipNumberLeavers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMemberNameLeavers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IncCategoryNameLeavers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncReason" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncNotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLinkedMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMembershipStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMembershipEnd" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncContractPeriodLeavers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncLastDDMonth" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMembers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncMemberName" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartDateOptionJoinersLeavers" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateOptionJoinersLeavers" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDateOptionJoinersActivity" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateOptionJoinersActivity" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDateOptionLeavers" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateOptionLeavers" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDateOptionTransactions" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateOptionTransactions" serializeAs="String">
        <value />
      </setting>
      <setting name="StartDateOptionProducts" serializeAs="String">
        <value />
      </setting>
      <setting name="EndDateOptionProducts" serializeAs="String">
        <value />
      </setting>
    </EventManagementSystem.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>